<link rel="stylesheet" href="{$wa_app_static_url}plugins/smartsearch/css/themes/base/jquery.ui.all.css">
<link rel="stylesheet" href="{$wa_app_static_url}plugins/smartsearch/css/themes/{$smartsearch_theme}/jquery.ui.theme.css">
<script src="{$wa_app_static_url}plugins/smartsearch/js/ui/jquery.ui.core.min.js"></script>
<script src="{$wa_app_static_url}plugins/smartsearch/js/ui/jquery.ui.widget.min.js"></script>
<script src="{$wa_app_static_url}plugins/smartsearch/js/ui/jquery.ui.position.min.js"></script>
<script src="{$wa_app_static_url}plugins/smartsearch/js/ui/jquery.ui.menu.min.js"></script>
<script src="{$wa_app_static_url}plugins/smartsearch/js/ui/jquery.ui.autocomplete.min.js"></script>

<style>
    .ui-autocomplete{
        width: {if intval($autocomplete_width)} {$autocomplete_width}px {else} auto{/if} !important;
    }
    .autocomplete_img{
        float: left;
    }
    .autocomplete_content{
        padding-left: 5px;
        float: left;
        width: 300px;
    }
    .autocomplete_clear{
        clear: both
    }
    a.autocomplete_link{
        color: {$autocomplete_text_color} !important;
    }
    a.autocomplete_link:hover{
        color: {$autocomplete_text_color_hover} !important;
    }
    .autocomplete_price{
        color: {$autocomplete_price_color};
        font-weight: bold;
    }
</style>

<script>
    $(function() {
        $("{$selector}").autocomplete({
            source: "{$wa_app_url}smartsearch/autocomplete/",
            minLength: parseInt('{$minLength}')
        }).data("ui-autocomplete")._renderItem = function(ul, item) {
            var img = '';
            if (item.img_url) {
                img = '<img src="' + item.img_url + '" />';
            }
            return $("<li>")
                    .append('<a class="autocomplete_link" href="' + item.frontend_url + '">\
                             <div class="autocomplete_img">' + img + '</div>\
                             <div class="autocomplete_content">\
                                <span class="autocomplete_name">' + item.name + '</span>\
                                <span class="autocomplete_price">' + item.price_str + '</span>\
                             </div>\
                             <br class="autocomplete_clear"/>\
                             </a>'
                            ).appendTo(ul);
        };
    });
</script>


